{% extends "base.html" %} {% block content %}
<main id="main">
  <section id="contact" class="contact mt-10">
    <div class="container mt-5">
      <form
        action="{{ url_for('auth.register')}}"
        method="post"
        role="form"
        class="php-email-form"
      >
        <div class="row">
          <div class="form-group">
            <input
              type="text"
              name="name"
              class="form-control"
              id="product-name"
              placeholder="Title of Your Food"
              required
            />
          </div>
          <div class="row">
            <div class="form-group">
              <textarea
                name="short_desc"
                class="form-control"
                id="product-description"
                placeholder="Short Description of food"
                required
              ></textarea>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <textarea
                name="description"
                class="form-control"
                id="description"
                placeholder="Detailed info of food"
                required
              ></textarea>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <input
                type="text"
                name="category"
                class="form-control"
                id="category"
                placeholder="Give category of food"
                required
              />
            </div>
          </div>
          <div class="row">
            <div class="form-group">
                <input
                class="form-control"
                id="product-price"
                type="number"
                name="price"
                placeholder="For how many person"
              />
            </div>
          </div>
          <div class="row">
            <div class="form-group">
                <input
                class="form-control"
                id="product-image"
                type="file"
                name="img"
                accept=".jpg,.jpeg,.png"
                placeholder="give image of food"
              />
            </div>
          </div>
        </div>
        <div class="text-center mt-2">
          <button type="submit" class="book-a-table-btn btn">Add Food</button>
        </div>
      </form>
      <!-- <p class="text-center">
        Already have an account
        <a href="{{url_for('auth.register')}}">Login</a>
      </p> -->
    </div>
  </section>
  <!-- End Contact Section -->
</main>
{% endblock %}
