{% extends "base.html" %} {% block content%}

<section class="py-5 my-5">
    <div class="container">
      <div class="row gx-5">
        <aside class="col-lg-6">
          <div class="border rounded-4 mb-3 d-flex justify-content-center">
            <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="{{ product['img'] }}">
              <img style="max-width: 100%; max-height: 100vh; margin: auto;" alt="{{ product['name'] }}" class="rounded-4 fit" src="{{ product['img'] }}" />
            </a>
          </div>
          <!-- thumbs-wrap.// -->
          <!-- gallery-wrap .end// -->
        </aside>
        <main class="col-lg-6">
          <div class="ps-lg-3">
            <h4 class="title text-dark">
                {{ product['name'] }}
            </h4>
  
            <div class="mb-3">
              <span class="h5">quantity : {{ product['price'] }}</span>
            </div>
  
            <p>
                {{ product['desc'] }}
            </p>
  
  
            <hr />
  
            <a href="{{ url_for('cart.add_product', productid=product['_id']) }}" class="btn btn-warning shadow-0"> Get Now</a>
          </div>
        </main>
      </div>
    </div>
  </section>
{% endblock %}