{% extends "base.html" %} {% block content %}
<main id="main">
  <section id="contact" class="contact mt-10">
    <div class="container mt-5">
      <form
        action="{{ url_for('auth.register')}}"
        method="post"
        role="form"
        class="php-email-form"
      >
        <div class="row">
          <div class="form-group">
            <input
              type="name"
              name="name"
              class="form-control"
              id="name"
              placeholder="Your Name"
              required
            />
          </div>
          <div class="row">
            <div class="form-group">
              <input
                type="email"
                name="email"
                class="form-control"
                id="email"
                placeholder="Your Email"
                required
              />
            </div>
          </div>
          <div class="form-group mt-3">
            <input
              type="password"
              class="form-control"
              name="passwd"
              id="password"
              placeholder="Your password "
              required
            />
          </div>
          <div class="row">
            <div class="form-group">
              <input
                type="text"
                name="address"
                class="form-control"
                id="address"
                placeholder="Your Address"
                required
              />
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <input
                type="number"
                name="pincode"
                class="form-control"
                id="pincode"
                placeholder="Your pincode"
                required
              />
            </div>
          </div>
        </div>
        <div class="text-center mt-2">
          <button type="submit" class="book-a-table-btn btn">Sign Up</button>
        </div>
      </form>
      <p class="text-center">
        Already have an account
        <a href="{{url_for('auth.register')}}">Login</a>
      </p>
    </div>
  </section>
  <!-- End Contact Section -->
</main>
{% endblock %}
